@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@100&family=Source+Code+Pro&family=Source+Sans+Pro:wght@200&display=swap');

* {
	background: #00aeff;
	list-style: none;
	text-decoration: none;
	font-size: 16px;
	font-family: "Montserrat", "sans-serif";
}

h1 {
	font-weight: 10000;
	color: white;
}

a {
	font-weight: 10000;
	color: white;
}

p {
	font-weight: 400;
	color: white;
}
