body {
  -webkit-transition: 1;
  -moz-transition: 1;
  -transition: 1;
  background: #ffffff;
  padding: 5
}
title {
  background: #0026ff;
  left: 1;
  right: 0;
  center: 0;
  text-colour: "black";
  font-family: "Segoe UI"
}
