<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} - Luke242014's website</title>
	<link rel="stylesheet" href="{{ page.root }}static/style.css">
</head>
<body>
	<ul>
		<li><a href="{{ page.root }}game">Games</a></li>
		<li><a href="{{ page.root }}about">About me</a></li>
		<li><a href="{{ page.root }}apachelicense">License</a></li>
		<li><a href="{{ page.root }}/index">Home</a></li>
		<li><a href="https://scratch.mit.edu/users/Luke242014">Scratch Account</a></li>
		<li><a href="https://youtube.com/search?q=Emmanuel+Luke+Ruiz">Youtube Channel</a></li>
		<li><a href="https://github.com/luke242014">GitHub</a></li>
		<li><a href="{{ page.root }}bloxlogger">BloxLogger</a></li>
		<li><a href="{{ page.root }}workspace">Workspace</a></li>
		<li><a href="{{ page.root }}more">More</a></li>
	</ul>
	
	<noscript><p style="color:#f00">To make luke242014.github.io work properly, JavaScript should be enabled.</p></noscript>
		  
	<main>
		{{ content }}
	</main>
	<footer>
		<ins>&copy; Copyright by Luke242014, All Rights Reserved.</ins>
	</footer>
</body>
</html>
