* {
  background: #222;
  text-align: center;
  text-decoration: none;
  font-family: arial, sans-serif;
  color: white
}

h1 {
  font-size: 50px;
}

code {
  font-family: monospaced, sans-serif;
}

a {
  color: #0be;
}

a:hover {
  color: #0ef;
}

.box {
  background: #111;
  color: white;
  border: 1px solid #777;
  border-radius: calc(0.5rem/1);
  height: 100px;
  width: 100px;
  float: left;
  margin: 10px;
  
  img {
    align: top;
  }
  
  a {
    color: white;
    align: bottom;
    margin: 10px;
  }
}
